<div class="container m-5">
  <form [formGroup]="sellForm">
  <div class="row">
    <div class="col-75">
      <div class="container">
        
        
          <div class="row">
            <div class="col-50">
              <h3>Billing Address</h3>
              <label for="fname" ><i class="fa fa-user"></i> Full Name</label>
              <input type="text" id="fname" name="firstname" placeholder="John M. Doe" formControlName="name">
              <label for="email"><i class="fa fa-envelope" ></i> Email</label>
              <input type="text" id="email" name="email" placeholder="john@example.com" formControlName="email">
              <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
              <input type="text" id="adr" name="address" placeholder="542 W. 15th Street" formControlName="address">
              <label for="city"><i class="fa fa-institution"></i> City</label>
              <input type="text" id="city" name="city" placeholder="New York" formControlName="city">
  
              <div class="row">
                <div class="col-50">
                  <label for="state">State</label>
                  <input type="text" id="state" name="state" placeholder="NY" formControlName="state">
                </div>
                <div class="col-50">
                  <label for="zip">Zip</label>
                  <input type="text" id="zip" name="zip" placeholder="10001" formControlName="zipcode">
                </div>
              </div>
            </div>
            
            <div class="col-50">
              <h3>Payment</h3>
              <label for="fname">Payment type *</label>

              <div class="row">

                <div class="col-50">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked (change)="showAccount=false">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Credit
                    </label>
                  </div>
                </div>

                <div class="col-50">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"  (change)="showAccount=true">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Cash
                    </label>
                  </div>
                </div>

              </div>

              <div *ngIf="showAccount">

                <label for="ccnum">Account No.</label>
                <input type="text" id="ccnum" name="cardnumber" formControlName="account">
                <label for="expmonth">Ifsc code</label>
                <input type="text" id="expmonth" name="expmonth" formControlName="ifsc">
              </div>
  
            </div>
            
          </div>
          
          <input  value="Send Selling Request" class="btn">
        
      </div>
    </div>
    <div class="col-25">
      
        <div class="card" >
          <img class="card-img-top" src="{{productObj['img']}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{productObj['description']}}</h5>
          </div>
          <div class="card-body">
            <p class="text-success">Cash Price: {{productObj['cashPrice']}}</p>
            <p class="text-warning">Credit Price: {{productObj['creditPrice']}}</p>
          </div>
        </div>
      
        
    </div>
  </div>
</form>
</div>
