<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <div class="row container search-bar d-flex justify-content-center pt-4 search">
        <img
          width="40px"
          height="40px"
          class="pt-2"
          src="../../assets/search-glass.png"
        />
        <input
          type="text" 
          class="form-control pl-5 py-2"
          placeholder="Find requests"
        />
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </div>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sr No.</th> 
            <th scope="col">User Name</th>
            <th scope="col">Game Name</th>
            <!-- <th scope="col">Game Id</th> -->
            <th scope="col">Payment Mode</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Change Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let req of reqObjArr;let i = index" >
            <td>{{i}}</td> 
            <td>{{req.userName}}</td>
            <td>{{req.gameName}}</td>
            <td>{{req.paymentMode}}</td>
            <td>{{req.amount}}</td>
            <td>{{req.status}}</td>
            <td>
                <!-- <button class="btn btn-success">Approve</button>&nbsp;&nbsp;
                <button class="btn btn-danger">Reject</button> -->

                  <div class="dropdown ">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button"  (click)="changeStatus('received',i)">Received</button>
                      <button class="dropdown-item" type="button"  (click)="changeStatus('approve',i)">Approve</button>
                      <button class="dropdown-item" type="button"  (click)="changeStatus('reject',i)">Reject</button>
                      <button class="dropdown-item" type="button" (click)="changeStatus('billed',i)">Billed</button>
                    </div>
                  </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>
