<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <div class="row container search-bar d-flex justify-content-center pt-4 search">
        <img
          width="40px"
          height="40px"
          class="pt-2"
          src="../../assets/search-glass.png"
        />
        <input
          type="text" 
          class="form-control pl-5 py-2"
          placeholder="Find requests"
        />
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </div>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sr No.</th> 
            <th scope="col">User Name</th>
            <th scope="col">Game Name</th>
            <th scope="col">Game Id</th>
            <th scope="col">Payment Mode</th>
            <th scope="col">Amount</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td> 
            <td>Puja</td>
            <td>Game of Thrones</td>
            <td>GOT-1</td>
            <td>Cash/Credit</td>
            <td>230 /-</td>
            <td>
                <button class="btn btn-success">Approve</button>&nbsp;&nbsp;
                <button class="btn btn-danger">Reject</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
