<div>
    <div class="row">
        <div class="col-md-6">
            <img src={{img}} class="mt-5" height="500px" width="500px">
        </div>
        <div class="col-md-6 mt-5">
            <h5>TRADE VALUE FOR:</h5>
            <h1>MLB The Show 21</h1>
            <p>Xbox One</p>
            <div class="row">
               
                <div class="col-md-6">
                    <div class="list-group">
                        <button type="button" class="list-group-item list-group-item bg-success font-weight-bold">
                            PRO VALUE
                        </button>
                        <li class="list-group-item">Store Credit$24.20</li>
                        <li class="list-group-item">Cash</li>
                        
                      </div>
                </div>
                <div class="col-md-6">
                    <ul class="list-group list-group-flush border">
                        <button type="button" class="list-group-item list-group-item-action active font-weight-bold">
                            REGULAR VALUE
                          </button>
                        <li class="list-group-item">Store Credit$22.00</li>
                        <li class="list-group-item">Cash</li>
                       
                      </ul>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-10 m-5 d-flex justify-content-center">

                    <button class="btn btn-success" style="width: 250px;" [routerLink] = "['/checkout', id]">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
  
  

<div class="container bg-light justify-content-center">
    <h1 style="text-align: center; color: black; font-weight: bold" class="pt-5">TRADE INSTRUCTIONS</h1>
    <!-- <div class="container">
        <div class="item">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo accusantium nostrum reiciendis alias quia culpa ad quasi repellat amet, eos cum quam, enim a architecto adipisci. Perspiciatis velit eum assumenda.
        </div>
        <div class="item">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem delectus voluptates reiciendis. Hic necessitatibus, assumenda autem doloremque dolor itaque fugiat atque eveniet illo tenetur? Incidunt ducimus harum dolor possimus quisquam.
        </div>
        <div class="item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolor ducimus eos culpa saepe cumque porro perspiciatis ea sapiente, repellat doloribus officia modi nulla perferendis aliquam, hic, nostrum tempora eaque?
        </div>
        <div class="item">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolor ducimus eos culpa saepe cumque porro perspiciatis ea sapiente, repellat doloribus officia modi nulla perferendis aliquam, hic, nostrum tempora eaque?
       </div>
       <div class="item">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolor ducimus eos culpa saepe cumque porro perspiciatis ea sapiente, repellat doloribus officia modi nulla perferendis aliquam, hic, nostrum tempora eaque?
       </div>
       <div class="item">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolor ducimus eos culpa saepe cumque porro perspiciatis ea sapiente, repellat doloribus officia modi nulla perferendis aliquam, hic, nostrum tempora eaque?
       </div>
   </div> -->

</div>
